@font-face {
    font-family: blurb;
    src: url(./fonts/MONOFONT.ttf); }

@font-face {
        font-family: title;
        src: url(./fonts/A\ Love\ of\ Thunder.ttf); }

@font-face {
        font-family: comingsoon;
        src: url(./fonts/OrcaRole-rvxgO.ttf); }

        @keyframes pulse {
            0%
            {
              transform: scale( .97);
            }
            20%
            {
              transform: scale( 1 );
            }
            40%
            {
              transform: scale( .97 );
            }
            60%
            {
              transform: scale( 1 );
            }
            80%
            {
              transform: scale( .97 );
            }
            100%
            {
              transform: scale( .97 );
            }
          }

body {
    padding:0%;
    border: 0%;
    display:flex;
    flex-direction: column;
    width:100vw;
    height:150vh;
    background-color: rgb(41, 39, 41);
    overflow-x: hidden;
}
.purple-accent {
    background-color: #af8ad1;
    color: black;
}

#demShoulders {
    position: fixed;
    width:100vw;
    height:100vh;
    max-height:100vh;
    object-fit: cover;
    z-index: -1;
}

#topMenu {
    position:fixed;
    top:0;
    display: flex;
    justify-content: flex-start;
    padding-right: 1%;
    background-color: rgb(24, 23, 24);
    z-index: 1000;
}
#logo-container {
    position: relative;
    width:30vw;
}

#logo-container img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%
}
#menu-logo {
    border-radius:50%;
    height: 100%;
    animation: pulse 2s linear infinite;
    visibility: hidden;
}

#menuLogo {
    height: 100%;
    clip-path: polygon(0% 0%, 0% 100%, 60% 100%, 100% 0%, 0% 0%);
    visibility: visible;
}

#navBar {
    width:70vw;
    display: flex;
    justify-content: flex-end;
    gap: 2vw;
}

.navItem {
    padding-top: 1vh;
    padding-right: 2vw;
    border-right: 1vw;
    text-decoration: none;
    font-family: comingsoon;
    color: rgb(205, 162, 245);
    font-size: 3vh;
    transition: all 0.5s;
}

.navItem:hover {
    color: black;
    background-color: rgb(205, 162, 245);
    border-radius: 60%;
}

#scroll-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

#landing-container {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    padding-top: 20vh;
    padding-left: 5vw;
}

#landing-title {
    padding-left: 10vw;
    border-left: 10px;
    text-align: end;
    padding:2%;
    font-family: title;
    font-size: 4.5em;
    background-color: rgb(24, 23, 24);
    color: #b571f4

}

#every {
    /* border-radius: 50%; */
    width: 130%;
    position: relative;
    font-size: 1.3em;
    padding-right: 2vw;
    text-align: center;
    font-family: comingsoon;
    clip-path: polygon(15% 0%, 15% 100%, 100% 100%, 100% 0%, 20% 0%);
    /* clip-path: polygon(0% 0%, 60% 100%, 100% 100%, 100% 0%, 0% 0%); */
    /* text-decoration: underline; */
    text-indent: 10%;
}

#landing-blurb {
    font-family: blurb;
    font-size: 1.5em;
    color: #af8ad1;
    background-color: none;
    padding-top: 28vh;
}

#contents-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(41, 39, 41);
    width: 100%;
    margin-top: 20vh;
}

#title-box {
    position: relative;
    height:10vh;
    bottom: 5vh;
    z-index: 1;
}
.page-break {
    background-color: none;
    border-radius: 50%;
    height:100%;
    animation: pulse 2s linear infinite;
    box-shadow: 0 0 50px #b571f4;
    
}

#about-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
}

#about-title-container {
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
    width: 30vw;
}

#about-title-box {
    position: relative;
    background-color: #b571f4;
}

#about-title {
    display: flex;
    flex-direction: row;
    color: rgb(41, 39, 41);
    color:#f1dac9;
    position: relative;
    left: 4.5vw;
    font-family: title;
    font-size: 3em;
}
#about-me-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 10vh;
}

#about-me {
    padding: 2vw;
    padding-right: 5vw;
    width: 40vw;
    font-family: blurb;
    font-size: 1.7em;
    background-color: rgb(24, 23, 24);
    color:#af8ad1;
    border-style: solid ;
    border-color: #838383;
    border-width: thick;
    border-radius: 25px;
}

.break {
    display: none;
}

#casual-sizz {
    position: relative;
    top:13vh;
    right:2vw;
    height: 50vh;
    border-radius: 25px;
    box-shadow: 0 0 25px #b571f4;
}
#services-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 10vh;
}

#services-title-container {
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
    width: 30vw;
    align-self: flex-end;
}

#services-title-box {
    position: relative;
    background-color: #b571f4;
}
.service-item {
    display: flex;
    flex-direction: row;
}

#services-title {
    display: flex;
    flex-direction: row;
    color: rgb(41, 39, 41);
    color:#f1dac9;
    position: relative;
    right: 4.5vw;
    font-family: title;
    font-size: 3em;
}

#services-blurb {
    padding: 1vw;
    width: 90vw;
    font-family: blurb;
    font-size: 1.7em;
    background-color: rgb(24, 23, 24);
    color:#af8ad1;
    border-style: solid ;
    border-color: #838383;
    border-width: thick;
    border-radius: 25px;
}
#pic-list-container {
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
}

.serv-pics-left {
    position: relative;
    top:0vh;
    left:2.5vw;
    height: 50vh;
    border-radius: 25px;
    z-index: 1;
    box-shadow: 0 0 25px #b571f4;
}

.left-box {
    position: relative;
    background-color: #b571f4;
    right: 3vw;
    top: 1vh;
    z-index: 2;
}
.left-titles {
    display: flex;
    flex-direction: row;
    color:#f1dac9;
    position: relative;
    right: 2vw;
    font-family: comingsoon;
    font-size: 2.5em;
    
}
#left-lists {
    right: 1vw;
    background-color: rgb(24, 23, 24);
    padding-left: 2vw;
    font-size: 1.6em;
    color:#af8ad1;
    font-family: title;
    border-style: solid ;
    border-color: #838383;
    border-width: thicker;
    border-radius: 25px;
    li {
        padding: 1vh;
        list-style-type: none;
    }
}
.serv-pics-right {
    position: relative;
    top:0vh;
    right:2.5vw;
    height: 50vh;
    border-radius: 25px;
    z-index: 1;
    box-shadow: 0px 0 025px #b571f4;
}

#right-lists {
    height: 50vh;
    margin-left: 5vw;
    align-self: flex-end;
    left: 1vw;
    list-style-type: none;
    background-color: rgb(24, 23, 24);
    padding-right: 2vw;
    font-size: 1.6em;
    color:#af8ad1;
    font-family: title;
    border-style: solid ;
    border-color: #838383;
    border-width: thicker;
    border-radius: 25px;
    li {
        padding: 1vh;
        list-style-type: none;
    }
}

.right-box {
    position: relative;
    background-color: #b571f4;
    left: 2vw;
    top: 1vh;
    z-index: 2;
}
.right-titles {
    display: flex;
    flex-direction: row;
    color:#f1dac9;
    position: relative;
    left: 10vw;
    font-family: comingsoon;
    font-size: 2.5em;
}

#sizz-working {
    align-self: flex-end;
    height: 50vh;
}

#map {
    position: relative;
    bottom: 2vh;
    right: 2vw;
    height: 40vh;
    border-radius: 25px;
    box-shadow: 0 0 50px #b571f4;
}

#contact {
    text-align: center;
    color: #af8ad8;
    font-size: 2em;
    font-family: blurb;
    display: flex;
    margin-top: 20vh;
    flex-direction: row;
    background-color: rgb(24, 23, 24);
    border-style: solid ;
    border-color: #838383;
    border-width: thicker;
    border-radius: 25px;
}

#socials {
    padding: 2vw;
}

.contact-icons {
    height: 10vh;
    padding-left: 3vw;
}

#come-title {
    font-family: comingsoon;
    color:#f1dac9;
    font-size: 2.5em;
}

#alternatively {
    font-family: comingsoon;
    color:#f1dac9;
    font-size: 1.5em;
}

#footer {
    font-family: comingsoon;
    color:#f1dac9;
}

#spottieottiedopealicious {
    color:rgb(41, 39, 41);
    font-family: Arial;
    font-size: 0.5em;
}

#spottieottiedopealicious:hover {
    color:#b571f4;
    
}

/* 
                 ,#####,
                 #_   _#
                 |a` `a|
                 |  u  |
                 \  =  /
                 |\___/|
        ___ ____/:     :\____ ___
      .'   `.-===-\   /-===-.`   '.
     /      .-"""""-.-"""""-.      \
    /'             =:=             '\
  .'  ' .:    o   -=:=-   o    :. '  `.
  (.'   /'. '-.....-'-.....-' .'\   '.)
  /' ._/   ".     --:--     ."   \_. '\
 |  .'|      ".  ---:---  ."      |'.  |
 |  : |       |  ---:---  |       | :  |
  \ : |       |_____._____|       | : /
  /   (       |----|------|       )   \
 /... .|      |    |      |      |. ...\
|::::/''     /     |       \     ''\::::|
'""""       /'    .L_      `\       """"'
           /'-.,__/` `\__..-'\
          ;      /     \      ;
          :     /       \     |
          |    /         \.   |
          |`./           |  ,/
          ( _ )           |  _)
          |   |           |   |
          |___|           \___|
          :===|            |==|
           \  /            |__|
           /\/\           /"""`8.__
           |oo|           \__.//___)
           |==|
           \__/ */


@media only screen and (max-width: 500px) {
    body {
        width: 100vw;
        overflow-x: hidden;
        padding:0;
    }
    #menu-logo {
        height: 5vh;
        visibility: visible;
    }
    
    #menuLogo {
        height: 5vh;
        clip-path: polygon(0% 0%, 0% 100%, 60% 100%, 100% 0%, 0% 0%);
        visibility: hidden;
    }

    #topMenu {
        position:fixed;
        top:0;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        background-color: black;
        z-index: 1000;

    }

    #navBar {
        display: flex;
        justify-content: flex-end;
        gap: 2vw;
    }

    #landing-container {
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        padding-top: 15vh;
        padding-left: 5vw;
    }

    #landing-title {
        width: 40vw;
        font-size: 2em;
    }

    #landing-blurb {
        width:45%;
        font-family: blurb;
        font-size: 1.5em;
        color: #af8ad1;
        background-color: none;
        padding-top: 35vh;
    }

    #about-container {
        display: flex;
        flex-direction: column;
        width: 90vw;
    }
    
    #about-title-container {
        margin-left: 10vw;
        display: flex;
        flex-direction: row;
        width: 40vw;
    }
    
    #about-title-box {
        position: relative;
        background-color: #b571f4;
    }
    
    #about-title {
        display: flex;
        flex-direction: row;
        color: rgb(41, 39, 41);
        color:#f1dac9;
        position: relative;
        left: 4.5vw;
        font-family: title;
        font-size: 1.5em;
    }
    #about-me-container {
        width: 80vw;
        display: flex;
        flex-direction: row;
        position: relative;
    }
    
    #about-me {
        position: relative;
        padding: 2vw;
        padding-right: 5vw;
        width: 100%;
        font-family: arial;
        font-size: 1em;
        background-color: rgb(24, 23, 24);
        color:#af8ad1;
        border-style: solid ;
        border-color: #838383;
        border-width: thick;
        border-radius: 25px;
        z-index: 1;
    }

    .break {
        display:inline
    }
    
    #casual-sizz {
        position: absolute;
        top:1vh;
        right:2vw;
        height: 18vh;
        border-radius: 25px;
        z-index: 2;
        box-shadow: 0 0 25px #b571f4;
    }

    #services-container {
        display: flex;
        flex-direction: column;
        padding-bottom: 10vh;
        width: 90vw;
    }

    #services-blurb-container {
        width: 80vw;
        display: flex;
        flex-direction: row;
        position: relative;
    }
    
    #services-title-container {
        align-self: flex-end;
        display: flex;
        flex-direction: row;
        width: 60vw;
    }
    
    #services-title-box {
        position: relative;
        left: 6vw;
        background-color: #b571f4;
    }

    .service-item {
        display: flex;
        flex-direction: row;
    }
    
    #services-title {
        display: flex;
        flex-direction: row;
        color: rgb(41, 39, 41);
        color:#f1dac9;
        position: relative;
        right: 6vw;
        font-family: title;
        font-size: 1.5em;
    }
    
    #services-blurb {
        padding: 2vw;
        width: 90vw;
        font-family: arial;
        font-size: 1em;
        background-color: rgb(24, 23, 24);
        color:#af8ad1;
        border-style: solid ;
        border-color: #838383;
        border-width: thick;
        border-radius: 25px;
    }
    #pic-list-container {
        display: flex;
        flex-direction: column;
        margin-top: 10vh;
    }
    
    .serv-pics-left {
        position: relative;
        top:0vh;
        left:1vw;
        height: 40vh;
        border-radius: 25px;
        z-index: 1;
        box-shadow: 0 0 25px #b571f4;
    }
    
    .left-box {
        position: relative;
        background-color: #b571f4;
        width: 35vw;
        right: 10vw;
        top: 1vh;
        z-index: 2;
    }
    .left-titles {
        display: flex;
        flex-direction: row;
        color:#f1dac9;
        position: relative;
        right: 9vw;
        font-family: comingsoon;
        font-size: 1.5em;
        
    }
    #left-lists {
        position: relative;
        height: 42vh;
        right: 8vw;
        background-color: rgb(24, 23, 24);
        padding-left: 2vw;
        font-size: 0.9em;
        color:#af8ad8;
        font-family: title;
        border-style: solid ;
        border-color: #838383;
        border-width: thicker;
        border-radius: 25px;
        li {
            padding: 1vh;
            list-style-type: none;
        }
    }
    .serv-pics-right {
        margin-top: 4vh;
        position: relative;
        right: 5vw;
        height: 40vh;
        border-radius: 25px;
        z-index: 1;
        box-shadow: 0 0 25px #b571f4;
    }
    
    #right-lists {
        margin-top: 5vh;
        height: 45vh;
        align-self: flex-end;
        right: 3vw;
        background-color: rgb(24, 23, 24);
        padding-right: 2vw;
        font-size: 0.8em;
        color:#af8ad1;
        font-family: title;
        border-style: solid ;
        border-color: #838383;
        border-width: thicker;
        border-radius: 25px;
        li {
            padding: 1vh;
            list-style-type: none;
        }
    }
    
    .right-box {
        position: relative;
        background-color: #b571f4;
        width: 30vw;
        left: 4vw;
        top: 1vh;
        z-index: 2;
    }
    .right-titles {
        display: flex;
        flex-direction: row;
        color:#f1dac9;
        position: relative;
        left: 10vw;
        font-family: comingsoon;
        font-size: 2.5em;
    }
    
    #sizz-working {
        align-self: flex-end;
        height: 40vh;
    }

    #map {
        position: relative;
        bottom: 2vh;
        right: 2vw;
        height: 20vh;
        border-radius: 25px;
        box-shadow: 0 0 50px #b571f4;
    }
    
    #contact {
        text-align: center;
        color: #af8ad8;
        font-size: 1em;
        font-family: arial;
        display: flex;
        margin-top: 10vh;
        flex-direction: row;
        background-color: rgb(24, 23, 24);
        border-style: solid ;
        border-color: #838383;
        border-width: thicker;
        border-radius: 25px;
    }
    
    #socials {
        padding: 2vw;
    }
    
    .contact-icons {
        height: 5vh;
        padding-left: 3vw;
    }
    
    #come-title {
        font-family: comingsoon;
        color:#f1dac9;
        font-size: 1.5em;
    }
    
    #alternatively {
        font-family: comingsoon;
        color:#f1dac9;
        font-size: 1em;
    }
}